/*  Generl */
body {
    background-color: #e3f2fd;
}

.pcolor-text {
    color: black;
}
.panel-color {
    background-color: #bbdefb;
}

.review-color {
    background-color: #c5cae9;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

.card .card-image > img{
    align-content: centers;
    max-height: 19rem;
    max-width: 16.2rem;
   min-height: 19rem;
    min-width: 15.9rem;
}

.info-text {
    font-size: 1.5rem;
}

.description-text {
    font-size: 1rem;
}

