{% extends "base.html" %}
{% block content %}

<div class = "col s12 m6 l7 center-align" >

    <h2 class = "header" > <strong > {{task.book_name}} </strong > </h2 >

    <div class="col s12">    
    <div class = "card horizontal container " >
        <div class = "card-image" >
            <div class="hide-on-small-only">
                <img src = "{{ task.book_cover }}" alt = "{{ task.book_name }} book cover" >
            </div>
        </div >
        <div class = "col s8 card-stacked panel-color" >
            <div class = "card-content info-text center-align " >
                <div class = "" >
                    {% if task.is_bseller == "on" %}
                        <p > <strong > Best Seller </strong > </p >
                        <input type = "checkbox" id = "is_bseller" name = "is_bseller" checked ><br>
                    {% else %}
                        <input type = "checkbox" id = "is_bseller" name = "is_bseller" >
                    {% endif %}
                </div >

                <p > Category: {{task.category_name}} </p ><br>
                <p > Author: {{task.book_author}} </p ><br>
                <p > Number of pages: {{task.book_pages}} </p ><br>
                <p > ISBN: {{task.book_isbn}} </p ><br>
            </div >

            <div class = "card-action" >
                <a href = "https://www.amazon.co.uk/s?k={{ task.book_isbn }}" target = "_blank" class = "red-text" > 
                    <strong>Purchase a copy here </strong></a >
            </div >
        </div >
    </div >
</div >

<div class = "descrpition-text center-align" >
    <h3>About {{task.book_name}}</h3>
    <p > {{task.book_description}} </p >
</div >

<!--submit button -->
<div class = "row" >
    <div class = " center-align" >
        <!--cancel button -->
        <a href = "{{ url_for('get_tasks') }}" class = "btn-large red text-shadow" >
            Back <i class = "fas fa-times-circle right" > </i >
        </a >
    </div >
</div >
{% if session.user|lower == task.created_by|lower %}
<h3 class = "light-blue-text text-darken-4 center-align" > Add Review </h3 >

<div class = "row card-panel review-color" >
    <form class = "col s12" method = "POST" action = "" >
        <!--book review -->
        <div class = "row  black-text review-color" >
            <div class = "input-field col s12" >
                <i class = "fas fa-pencil-alt prefix" > </i >
                <input id = "book_review" name = "book_review" minlength = "2" maxlength = "500" type = "text" class = "validate"
                    required >
                <label for = "book_review" class = "black-text" > Write review here </label >
            </div >
        </div >
        <!--submit button -->
        <div class = "row" >
            <div class = "col-12 center-align" >
                 <!--cancel button -->
                 <a href = "{{ url_for('get_tasks') }}" class = "btn-large red text-shadow" >
                    Cancel <i class = "fas fa-times-circle right" > </i >
                </a>
                <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                    Add Review <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </form>
    </div>   
</div>
{% else %}
<div>
    Please sign in to leave a review, not a member register now!
</div>
{% endif %}
{% if reviews|length > 0 %}
        {% for review in reviews %}
        {% if task.book_name|lower == review.book_title|lower %}
            <div>
                <div class="col s12 m8 offset-m2 l6 offset-l3">
                    <div class="card-panel blue lighten-4 z-depth-1">
                      <div class="row valign-wrapper">
                        <div class="col s2">
                          <img src="{{ review.user_avatar }}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                        </div>
                        <div class="col s12">
                          <span class="blue lighten-4">
                            <p><strong>Reviewed by : {{ review.reviewed_by }}~ </strong> {{ review.book_review }}. Added on {{ review.created_on }}</p>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                <div>
            </div>
        {% endif %}
        {% endfor %}
    {% endif %}




{% endblock %}